body {
  /* font-family: "Proxima Nova"; */
  font-family: "Chaparral Pro";
}
body a {
  text-decoration: none;
  color: #222;
}
.post-content a {
  text-decoration: underline;
}
body li {
  list-style-type: none;
}
.columns, .column {
  min-height: 1px;
}
.name {
  padding-bottom: 5px;
  padding-top: 40px;
}
.content {
  padding-bottom: 140px;
}
.site-header {
  padding-top: 40px;
  padding-bottom: 20px;
}
.site-title {
  font-size: 24px;
}
.site-nav {
  float: right;
}

h4 {
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
}

.post-link {
  font-size: 14px;
  font-weight: 400;
}

.logo {
  width: 100%;
}

.post-image {
  width: 70%;
  display: block;
}
