---
layout: default
---

<div class="home">

    <div id="about" class="section">
        <img src="http://www.gravatar.com/avatar/b7452541a659071b71df3348413637ee.jpg?s=140&r=g"></img>
        <p>Find my info <a href="{{ site.baseurl }}/about"><b>here</b></a>.</p>
        <br>
        <p>{{site.description}}</p>
    </div>

    <div id="columns">
        <div class="column">
            <div id="code" class="section">
                <h1>Code / Hardware</h1>
                <ul class="posts">
                    {% for post in site.categories.code %}
                    <li>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="column">
            <div id="projects" class="section">
                <h1>Non-Technical Projects</h1>
                <ul class="posts">
                    {% for post in site.categories.projects %}
                    <li>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="posts" class="section">
                <h1>Writing</h1>
                <ul class="posts">
                    {% for post in site.categories.posts %}
                    <li>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                    <li>
                    <a class="post-link" target="_blank" href="http://energypolitics.tumblr.com/post/97145411178/the-cost-of-an-iphone">Energy Politics: The Cost of An iPhone</a>
                    </li>
                </ul>
            </div>
            <div id="places" class="section">
                <h1>Places</h1>
                <ul class="posts">
                    <li><em>Coming Soon</em></li>
                </ul>
            </div>
        </div>
    </div>
</div>
