---
layout: default
---

<div class="container">
  <div class="row page-title">
    <div class="four columns">
      <div class="me">
        <h3 class="name">Alex Freska</h3>
        <!-- <p class="title">Software Engineer</p> -->
      </div>
    </div>
    <div class="four columns">
    </div>
    <div class="four columns">
      <!-- <div class="about"> -->
      <!--   <a target="__blank" href="https://twitter.com/alexfreska">CV</a> -->
      <!--   <a target="__blank" href="https://github.com/alexfreska">Github</a> -->
      <!--   <a target="__blank" href="https://twitter.com/alexfreska">Twitter</a> -->
      <!-- </div> -->
    </div>
  </div>
  <div class="row content">
    <div id="about" class="four columns">
      <h4>Intro</h4>
      <p>{{site.description}}</p>
    </div>
    <div class="four columns">
      <div id="code" class="section">
        <h4>Research & Work</h4>
        <ul class="posts">
          {% for post in site.categories.code %}
          <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><span class="project-name">{{ post.title }}</span> - {{ post.description }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="four columns">
      <div id="reading" class="section">
        <h4>Recommended Reads</h4>
        <ul class="posts">
          <li>
          <a class="post-link" target="__blank" href="http://arxiv.org/pdf/1503.05743.pdf">Distributed Deep Learning on the Web</a>
          </li>
          <li>
          <a class="post-link" target="__blank" href="http://facebook.github.io/react/blog/2015/02/20/introducing-relay-and-graphql.html">Introducing Relay & GraphQL</a>
          </li>
          <li>
          <a class="post-link" target="__blank" href="http://nerds.airbnb.com/mapping-world/">Mapping the World</a>
          </li>
          <li>
          <a class="post-link" target="__blank" href="http://karpathy.github.io/neuralnets/">Hacker's Guide to Neural Networks</a>
          </li>
        </ul>
      </div>
      <div id="projects" class="section">
        <h4>Projects I Support</h4>
        <ul class="posts">
          <li>
          <a class="post-link" target="__blank" href="http://www.juaraturtleproject.com/">Juara Turtle Project</a>
          </li>
          <li>
          <a class="post-link" target="__blank" href="http://neovim.io/">Neovim</a>
          </li>
        </ul>
      </div>
      <div id="posts" class="section">
        <h4>Writing</h4>
        <ul class="posts">
          {% for post in site.categories.posts %}
          <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="row"> -->
  <!--   <div class="four columns"></div> -->
  <!--   <div class="four columns"><img class="logo" src="assets/logo.png"/></div> -->
  <!--   <div class="four columns"></div> -->
  <!-- </div> -->

</div>
