<footer class="site-footer container">
  <div class="row">
    <div class="four columns"></div>
    <div class="four columns">

    </div>
    <div class="four columns"></div>
  </div>
  <div class="row">
    <div class="four columns">
      <div class="about">
        <a target="__blank" href="https://twitter.com/alexfreska">CV</a>
        <a target="__blank" href="https://github.com/alexfreska">Github</a>
        <a target="__blank" href="https://twitter.com/alexfreska">Twitter</a>
      </div>
      <div class="hire-me">
        <a class="button button-primary" href="mailto:alex.freska@gmail.com">Hire me!</a>
      </div>
    </div>
    <div class="four columns"></div>
    <div class="four columns">

    </div>
  </div>
</footer>
